@page
@model RazorProject.Pages.Categoryes.createModel
@{
}
<div class="container border mt-2 shadow-sm">
    <div class="row mt-2">
        <h2 class="shadow">Create new Category</h2>
    </div>
    <hr />
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="container mt-2 p-1">
        <label asp-for="Category.Name"></label>
        <input asp-for="Category.Name" class="form-control "/>
        <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="container mt-2 p-1">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" class="form-control " />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <div class="container mt-2 p-1">
            <label asp-for="Category.Description"></label>
            <input asp-for="Category.Description" class="form-control " />
            <span asp-validation-for="Category.Description" class="text-danger"></span>
        </div>
        <div class="container mt-3">
            <button type="submit" value="Create" class="form-control btn btn-primary">Create</button>
        </div>
       
    </form>

</div>
@section Scripts{
      <partial name="_ValidationScriptsPartial" />
    }